APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True

DB_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/auth_db
TEST_DB_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/test_auth_db

HOST=localhost
PORT=6379
DB=0

ACCESS_TOKEN_EXPIRE=15
REFRESH_TOKEN_EXPIRE=10080
JWT_HASHING=HS256
TOKEN_SECRET_KEY=change-me-in-production-use-a-32+byte-random-secret
